



@mixin mobile($device){
  /*
  $phone = 480px;
  $tablet = 768px;
  $desktop = 1200px;
  */

  @if($device == 'phone'){
    @media only screen and (max-width: 480px) {
      background-color: grey;
      @content;
    }
  }


  @if($device == 'tablet'){
    @media only screen and (max-width: 768px){
      background-color: grey;
      @content;
    }
  }

  @if($device == 'desktop'){
    @media only screen and (max-width: 1200px) {

      background-color: grey;

      @content;
    }
  }

}