.tweet{
  grid-area: article;
  background-color: $bg-color-tweet;
  &__item{

  }

  &__btn{
    background-color:$bg-color-tweet-btn;
    padding:20px;
    border-radius: 5px;
    &:hover{
      background-color: darken($bg-color-tweet-btn,10%);
    }
  }

}