/*styles for project td list*/


/*
Hintergrund: #f5f5f5
Grau für Linie: #ededed
Text: #4d4d4d
Rot: #af2f2f
Weiss: #ffffff


*/

*{
    box-sizing: border-box;
}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}


body{
    padding:0;
    margin:0;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 14px;
    textt-transform:lowercase;
    font-weight: lighter;
    background-color:#f5f5f5 ;
}

h1{
    font-size: 100px;
}

.container{
    width:50%;
    margin:0 auto;
    background-color: ;
}

.input,
.list-elements,
.footer{
    border-bottom:1px solid #ededed;
}

.list-content{
    width:80%;
}

.list-check,
.list-del{
    width:10%;
}


.list-check,
.list-content,
.list-del{
    float:left;

}



