/*styles for project td list*/


/*
Hintergrund: #f5f5f5
Grau für Linie: #ededed
Text: #4d4d4d
Rot: #af2f2f
Weiss: #ffffff
Schriftart: “Helvetica Neue”, Helvetica, Arial, sans-serif;
Standard-Schriftgrösse: 14px


#icons
https://github.com/encharm/Font-Awesome-SVG-PNG

*/


/*general*/

*{
    box-sizing: border-box;
}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}


/*elements*/
body{
    padding:0;
    margin:0;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    background-color:#f5f5f5 ;
    color:#4d4d4d;
}

h1{
    flex-basis: 100%; /*flex-item 1*/
    font-size: 100px;
    text-align:center;
}

img{
    width:100%;
    height:100%;
}

/*btn*/

button{
    border:none;
    background-color:#ffffff;
    padding:0;
    margin:0;
    flex-grow: 1; /*flex-item 3*/
}

.add-btn{
    padding:0 10px;
}

.list-del{
    padding-right: 10px;
}

/*images*/
.add-btn img{
    width:20px;
    height:12px;
}

.list-del img{
    width:12px;
    height:12px;
}

/*list*/
.container{
    display:flex;   /*flex-container 1*/
    flex-wrap:wrap; /*flex-container 1*/
    width:35%;
    margin:0 auto;
    margin-top:100px;
}

.list-container{
   flex-basis: 100%;/*flex-item 1*/
   display:flex;    /*flex-container 2*/
   flex-wrap:wrap;  /*flex-container 2*/
   background-color:#ffffff;
   border:1px solid #ededed;


}

.list-font{
    font-size:24px;
}



.input-element{
    flex-basis: 100%; /*flex-item 2*/
    display:flex;     /*flex-container 3*/

}

.input-element,
.list-item{
    display:flex; /*flex-container 4*/
    padding:25px 0;
    border-bottom:1px solid #ededed;
}

.list-elements{
    flex-basis: 100%; /*flex-item 2*/
}

.item-done{
    text-decoration: line-through;
    color:#ededed;
}

.item-txt{
    flex-basis: 85%; /*flex-item 4*/
}

.list-del{
    flex-grow: 1;   /*flex-item 4*/
    padding:0 10px;
}

.list-check{
    flex-grow: 1;   /*flex-item 4*/
    padding:0 10px;
}




input:focus{
    outline:none;
}

input::placeholder{
    font-style:italic;
}

label{
    cursor:pointer;
}

input[type="text"]{
    border:none;
    flex-basis:94%; /*flex-item 3*/
    padding-right:10px;
    color:#4d4d4d;
}

input[type="text"]:active{
    border:none;
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"] + label span{
    display:inline-block;
    vertical-align:middle;
    width:25px;
    height:25px;
    background: url(../img/chck_active.svg)0px center no-repeat;
}

input[type="checkbox"]:checked + label span{
    background: url(../img/chck_inactive.svg)0px center no-repeat;
}



.footer{
    flex-basis: 100%; /*flex-item 2*/
    padding:15px 10px;
}














