/**
 * Base
 */

@import "base/reset";

/**
 * Components
 */


@import "components/general";
@import "components/form";
@import "components/list";
@import "components/mobile";


/*-----------ADDITIONAL INFO-----------*/

/*
Hintergrund: #f5f5f5
Grau für Linie: #ededed
Text: #4d4d4d
Rot: #af2f2f
Weiss: #ffffff
Schriftart: “Helvetica Neue”, Helvetica, Arial, sans-serif;
Standard-Schriftgrösse: 14px


#icons
https://github.com/encharm/Font-Awesome-SVG-PNG

*/

/*-----------ADDITIONAL INFO-----------*/