/*the main only contains imports!*/
/*scss partials*/
.head {
  grid-area: head;
  background-color: lightgreen;
  position: relative; }
  .head__logo {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 20px;
    left: 20px;
    background-color: cadetblue; }

.navigation {
  grid-area: nav;
  background-color: lightskyblue; }
  .navigation__list {
    color: pink; }

.contact {
  grid-area: aside;
  background-color: lightsalmon; }

.tweet {
  grid-area: article;
  background-color: lightyellow; }
  .tweet__btn {
    background-color: lightsalmon;
    padding: 20px;
    border-radius: 15px; }
    .tweet__btn:hover {
      background-color: #ff7c47; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding-top: 100px; }

.layout {
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 150px 150px 150px 100px;
  grid-template-columns: 150px 400px 150px;
  grid-template-areas: "head head head" "nav article aside" "nav article aside" "nav article aside" "foot foot foot"; }

footer {
  grid-area: foot;
  background-color: lightcoral; }

.cube {
  /*in call no commas necessary to use like a normal transition property*/
  -webkit-transition: all 2s infinite;
  -moz-transition: all 2s infinite;
  -ms-transition: all 2s infinite;
  -o-transition: all 2s infinite;
  transition: all 2s infinite; }

.circle {
  /*in call no commas necessary to use like a normal transition property*/
  -webkit-transition: width 0.4s ease-in;
  -moz-transition: width 0.4s ease-in;
  -ms-transition: width 0.4s ease-in;
  -o-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in;
  /*no commas necessary!!!*/ }

.circle {
  width: 500px;
  height: 25px;
  /*
  $phone = 480px;
  $tablet = 768px;
  $desktop = 1200px;
  */
  /*
  $phone = 480px;
  $tablet = 768px;
  $desktop = 1200px;
  */
  /*
  $phone = 480px;
  $tablet = 768px;
  $desktop = 1200px;
  */ }
  @media only screen and (max-width: 480px) {
    .circle {
      background-color: grey;
      width: 25px; } }
  @media only screen and (max-width: 768px) {
    .circle {
      background-color: grey;
      width: 100px; } }
  @media only screen and (max-width: 1200px) {
    .circle {
      background-color: grey;
      width: 160px;
      height: 125px; } }

.big-arrow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px tomato; }

.medium-arrow {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px lightblue; }

.small-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px lightgreen; }

@media (max-width: 768px) {
  .layout {
    grid-template-rows: 30px 250px 40px auto 20px;
    grid-template-columns: 350px auto 350px; }
  .navigation {
    grid-area: 4/1/5/4;
    background-color: lightskyblue; }
  .tweet {
    grid-area: 2/1/3/4;
    background-color: lightyellow; }
  .contact {
    grid-area: 3/1/4/4;
    background-color: lightsalmon; } }
