

*{
    box-sizing: border-box;
}

.head,
.foot{
    flex-basis: 100%;
    height:30px;
    background-color:black;
    color:white;
}

.container{
    display:flex;
    flex-wrap:wrap;
}

/*
.nav{
    flex-grow: 2;
}
*/

.nav,
.aside{
    /*width:20%;*/
    flex-grow: 1;/*gleichmässige Aufteilung an Stelle von with, wenn .nav = flex-grow=2, dann verhältnis .nav : .aside = 2:1*/
    background-color: lightgrey;

}

.item-content{
    width:60%;
}


.item-content{

}

