

.container{
    display:flex;
    flex-direction: column;
    border:1px solid tomato;
    height:500px;

}

.inner{
    display:flex;
    justify-content: center;
}

.center{
    width:60%;
}


.container > *{
    flex-basis: 100%;
}