/*the main only contains imports!*/

/*scss partials*/
@import "partials/settings";
@import "partials/header";
@import "partials/navigation";
@import "partials/contact";
@import "partials/tweet";
@import "partials/footer";
@import "partials/helper";
@import "partials/triangle";
@import "partials/mobile";


*{
    box-sizing: border-box;
}


body{
    margin:0;
    padding-top:100px;

}


.start{

}

.layout{
    width:700px;
    margin:0 auto;
    display: grid;
    grid-template-rows: 100px 150px 150px 150px 100px;
    grid-template-columns:150px 400px 150px;
    grid-template-areas: "head head head"
                          "nav article aside"
                          "nav article aside"
                          "nav article aside"
                          "foot foot foot";

}



footer{
    grid-area: foot;
    background-color: $bg-color-footer;
}

.cube{
    @include transition(all 2s infinite);
}

.circle{
    @include transition(width 0.4s ease-in);/*no commas necessary!!!*/
}



@include mobile(phone){

}

.circle{
    width:50px;
    height:25px;
    @include mobile(tablet){
        width:25px;
    }
}



@include mobile(desktop){
    .circle{
        width:150px;
        height:125px;
    }
}

.big-arrow{
    @include triangle(big,tomato,30px);
}

.medium-arrow{
    @include triangle(big,lightblue,25px);
}

.small-arrow{
    @include triangle(big,lightgreen,10px);
}





@media(max-width: 768px){
    .layout{
        grid-template-rows: 30px 250px 40px /*40px*/ auto 20px;
        grid-template-columns: 350px auto 350px;
    }


    .navigation{
        grid-area: 4/1/5/4;
        background-color: $bg-color-navi;
    }

    .tweet{
        grid-area: 2/1/3/4;
        background-color: $bg-color-tweet;
    }

    .contact{
        grid-area: 3/1/4/4;
        background-color: $bg-color-contact;
    }

}








