
*{
    box-sizing: border-box;
}


body{
    margin:0;
    padding-top:100px;

}


.start{

}

.layout{
    width:700px;
    margin:0 auto;
    display: grid;
    grid-template-rows: 100px 150px 150px 150px 100px;
    grid-template-columns:150px 400px 150px;
    grid-template-areas: "head head head"
                          "nav article aside"
                          "nav article aside"
                          "nav article aside"
                          "foot foot foot";

}

.head{
    grid-area: head;
    background-color: lightgreen;
    position:relative;
}

.head__logo{
    position:absolute;
    width:100px;
    height:50px;
    top:20px;
    left:20px;
    background-color:cadetblue;
}

.navigation{
    grid-area: nav;
    background-color: lightskyblue;
}

.navigation__list{

}

.navigation__item{

}

.navigation__link{

}

.navigation__link--active{

}

.tweet{
    grid-area: article;
    background-color: lightyellow;
}

.tweet__item{

}

.contact{
    grid-area: aside;
    background-color: lightsalmon;
}

.contact__address{

}

.contact__name{

}

.contact__street{

}

.contact__zip{

}

.contact__city{

}

.foot{

}

.foot__impressum{

}

.foot__link{

}

footer{
    grid-area: foot;
    background-color: lightcoral;
}


@media(max-width: 768px){
    .layout{
        grid-template-rows: 30px 250px 40px /*40px*/ auto 20px;
        grid-template-columns: 350px auto 350px;
    }


    .navigation{
        grid-area: 4/1/5/4;
        background-color: lightskyblue;
    }

    .tweet{
        grid-area: 2/1/3/4;
        background-color: lightyellow;
    }

    .contact{
        grid-area: 3/1/4/4;
        background-color: lightsalmon;
    }

}








